html {
  box-sizing: border-box;
}
img {
  width: 300px;
  border-radius: 50%;
  float: right;
  margin-left: 405px;
  margin-right: 30%;
  background-color: #F6AE2D; 
  padding: 30px;
}
a:hover{
	background-color: white;    
	padding: 15px;
	padding-right: 20px;
	padding-left: 20px;
}
a {
	color:#326968;
}
a:visited {
	color: white;
	}
 header {
 	background-color:tomato;
 	height: 50%;
 	width:100%;
 	padding-top:30px;
 	padding-bottom: 30px;
 	padding-left: 30px;
    line-height: 150%;
 }
 h1 {
 	font-family: 'Pacifico', cursive;
 	font-size: 70px;
 	text-align: center;
 	padding-top: 10px;
    background-size: 100%;
 	 }
 h2 , h4 ,h5 {
 	font-family: 'Patua One', cursive;
 }
 body{
 	font-family: 'Dancing Script', cursive;
 	background-color: #F2F681;
 	
 }
 .personallife {
 	background-color: #619FAD;
  padding: 40px;
  display: block;
  padding-bottom: 0px;
  height: 50%;
 }
 .education {
 	
 	background-color: #A5ED69;
 	display: block;
 	padding-left: 400px;
 	padding-bottom: 20px;
 	padding-top: 10px;
 	padding-right: 0px;
 	} 

.interests {
 background-color: #F2F681;
   display:inline-block;
   text-align: center;
   padding-bottom: 0px;
   padding-top: 10px;
   max-width: 500px;
   padding-left: 150px;
 	 padding-right: 500px;
 	 margin-left: 20px;
 	 margin-bottom: 0px;
}
footer {
 	background-color: #23C6B1;
 	display:inline-block;
 	 padding-top: 10px;
 	 padding-bottom: 20px;
 	 padding-left: 500px;
 	 padding-right: 400px;
 	margin: 200px;
 	margin-bottom: 0%;
 }
 
